/* Sezione CSS che su kde.org è scritto direttamente sulla pagina principale,
   ma noi siamo ordinati */
.mainmenu_community {
    background-image: url('/capacity/images/green.icon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    z-index: 95;
}

.mainmenu_community:hover {
    text-shadow: #acff08 0px 0px 8px;
}

.mainmenu_community_sub {
    margin-top: 0px;
    position: absolute;
}

.mainmenu_community_animation {
    position: absolute;
    left: 0px;
    opacity: 0;
}

.mainmenu_workspaces {
    background-image: url('/capacity/images/orange.icon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    z-index: 95;
}

.mainmenu_workspaces:hover {
    text-shadow: #ffae00 0px 0px 8px;
}

.mainmenu_workspaces_sub {
    margin-top: 0px;
    position: absolute;
}

.mainmenu_workspaces_animation {
    position: absolute;
    left: 0px;
    opacity: 0;
}

.mainmenu_applications {
    background-image: url('/capacity/images/red.icon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    z-index: 95;
}

.mainmenu_applications:hover {
    text-shadow: #ff96af 0px 0px 8px;
}

.mainmenu_applications_sub {
    margin-top: 0px;
    position: absolute;
}

.mainmenu_applications_animation {
    position: absolute;
    left: 0px;
    opacity: 0;
}

.mainmenu_developer_platform {
    background-image: url('/capacity/images/gray.icon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    z-index: 95;
}

.mainmenu_developer_platform:hover {
    text-shadow: #aaa 0px 0px 8px;
}

.mainmenu_developer_platform_sub {
    margin-top: 0px;
    position: absolute;
}

.mainmenu_developer_platform_animation {
    position: absolute;
    left: 0px;
    opacity: 0;
}

.mainmenu_support {
    background-image: url('/capacity/images/purple.icon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    z-index: 95;
}

.mainmenu_support:hover {
    text-shadow: #e285ff 0px 0px 8px;
}

.mainmenu_support_sub {
    margin-top: 0px;
    position: absolute;
}

.mainmenu_support_animation {
    position: absolute;
    left: 0px;
    opacity: 0;
}
/* Fine sezione scritta nella pagina HTML di kde.org */


/* Sostituzioni da kde.org */

.header .menu_box li h2 {
    color: #555;
    font-size: 14px;
    font-weight:normal;
    padding-left:10px;
    text-transform:uppercase;
}

/* Fine sostituzioni da kde.org */

#main div.it_trad {
    background-color: white;
    border: 3px solid #0057ae;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#main div.it_trad h2 {
    background-color: #0057ae;
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
}

#main div.it_trad p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#main img.framed {
    float: right;
    border: #0057ae double 3px;
    background-color: white;
    margin-left: 0.5em;
}

div.it_trad address {margin-left: 2em;}

table.it_pack, table.it_stat, table.it_main {
    border-width: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}

table.it_main{
    margin: auto;
}

table.it_main td {
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

table.it_stat {
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

#main img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    vertical-align: middle;
    background-image: none;
}

table.it_stat td, table.it_pack td, table.it_stat th, table.it_pack th {
    border: 1px;
    border-style: solid;
    border-color: #8b898b;
    padding: 2px;
    vertical-align: middle;
}

table.it_stat th, table.it_pack th {
    background: #e0e0e0;
    font-weight: bold;
    text-align: center;
}

table.it_centrata {
    margin: auto;
}

table.it_stat .ko { background-color: #ffcccc; }
table.it_stat .fuzzy { background-color: #ffffcc; }
table.it_stat .ok { background-color: #ccffcc; }

table.it_stat th[data-sorted-direction="ascending"]:after {
   content: "▼";
}

table.it_stat th[data-sorted-direction="descending"]:after {
   content: "▲";
}

.stable-kde4 { background-color: #ffd07d; }
.trunk-kde4  { background-color: #96c5ff; }
.stable-kf5  { background-color: #28be56; }
.trunk-kf5   { background-color: #be2828; }

.backwards { unicode-bidi:bidi-override; direction: rtl; }
